<div class="welcomeBG">
    <div class="hero">
        <div class="milerLvlCircle">
            <div class="milerLvl">
                <img src="/img/6mm.png" alt="six million miler">
            </div>
        </div>
        <h1>Celebrating your 6 million miles in a special way</h1>
        <hr aria-hidden="true">
        <p class="header2">
            Lucas, congratulations on flying 6 million miles with us.<br>To honor your significant milestone, we’re pleased to offer you a Million Miler gift of your choice.
        </p>
        <p class="header2">Thank you for your continued loyalty, and enjoy your gift.</p>
        <div class="scroll">
            <a class="scroll" href="#gifts" aria-hidden="true"><img src="/img/Scroll.png" alt="View your availble gift options"></a>
        </div>
    </div>
</div>
