<div class="m-nav-2">  
  <ul>
    <li>
      <a href="#" target="_blank">Terms &amp; conditions</a></li>
      <li class="footMiddle">
        <a href="#" target="_blank"><span class="footMiddle">Privacy</span></a>
      </li>
      <li class="footLast">© 2019 United Airlines, Inc.</li>
    </ul>
</div>
