<div class="m-product-box-1">
	<div class="wrap">
		<article>
			<figure>
					<div class="thumbnail">
						<div class="caption">
								<a href="#" class="caption__label center">Learn More</a>
						</div>
						<div class="m-product-box-1__img">
			  			<img src="../img/NINTENDO-SWITCH-BUNDLE2.JPG" alt="">
			  		</div>
			  	</div>
			    <h4>Nintendo®</h4>
			    <figcaption>
			    Switch™ Gaming System with 3 Games
			    </figcaption>
			</figure>
		</article>
	</div>
</div>
