<div class="m-product-img_1" data-ride="carousel" data-interval="false">
  <div class="m-product-img_1_main" role="listbox">
    <div class="item active">
      <img src="/img/NINTENDO-SWITCH-BUNDLE2.JPG" alt="Nintendo® Product">
    </div>
  </div>
</div>
