
<div class="m-product-grid-2">
	<div class="container">
		<div class="wrap">
			<div class="content">
			  {{> m_product_box_1 }}
			  {{> m_product_box_1 }}
			  {{> m_product_box_1 }}
			  {{> m_product_box_1 }}
			  {{> m_product_box_1 }}
			</div>
		</div>
	</div>
</div>
