<div class="reviewShell">
  <div class="row">
    <div class="prodImg col-md-3">
      <img src="/img/NINTENDO-SWITCH-BUNDLE2.JPG" alt="Nintendo® Product">
    </div>

    <div class="giftSelectionDesc col-md-4">
      <h4>Nintendo®</h4>
      <p>Switch™ Gaming System with 3 Games</p>
      <a class="edit01" href="#" title="Edit gift">Edit gift</a>
    </div>

    <div class="col col-md-4">
      <h4>Lucas Dasso</h4>
      <p>Address 1</p>
      <p>Address 2</p>
      <p>City, State/Province Postal Code</p>
      <p>Recipient's Country*</p>
      <p class="phone">Telephone Number*</p>
      <p class="emailAddress">Email Address*</p>
      <a class="edit" href="#" title="Edit info">Edit info</a>
    </div>
  </div>
</div>
