<div class="m-product-content_1">
  <h3>Product Description</h3>

  <h4>Nintendo® Switch™ Gaming System with 3 Games</h4>
  <p>Choose this Nintendo Switch console to play your favorite games anywhere with one system.</p>

  <h4>Features:</h4>
  <ul>
    <li>Main unit is a home gaming system, lift Switch from the dock and it becomes a handheld device for on-the-go gaming</li>
    <li>32GB of internal storage</li>
    <li>Tegra processor powered by NVIDIA</li>
    <li>802.11ac wireless connection</li>
    <li>Capture button takes gameplay screenshots</li>
    <li>Joy-Cons include a gyroscope, accelerometer and HD Rumble</li>
    <li>IR Motion Camera</li>
    <li>Enhanced parental control</li>
    <li>Surround sound</li>
    <li>Includes Switch console, Switch dock, Joy-Con (L) and Joy-Con (R), two Joy-Con strap accessories, a Joy-Con grip, AD adapter, HDMI cable and three rated “E” games. <b>Please note:</b> Games are randomly chosen by the manufacturer based upon availability and cannot be pre-selected.</li>
  </ul>
</div>
