<div class="m-product-img_2" aria-label="selected gift">
  <div class="m-product-img_2_box">
    <h3>Selected Gift:</h3>

    <div class="m-product-img_2_box_img">
      <img src="/img/NINTENDO-SWITCH-BUNDLE2.JPG" alt="Nintendo® Product">
    </div>
    <div class="m-product-img_2_box_info">
      <h4>Nintendo®</h4>
      <p>Switch™ Gaming System with 3 Games</p>
    </div>
  </div>
  <button type="button" class="btn btn-main btn-edit" value="Edit gift">Edit gift</button>
</div>
