<div class="m-product-card_1">
  <h2>Shipping Information</h2>
  <p class="subheader2">Where would you like your Million Miler gift shipped? Please enter a shipping address below.</p>
  <p>Gifts will be sent via UPS. Delivery requires that the recipient (or someone age 18 or older acting on the recipient’s behalf) sign for the delivery during regular business hours. All selections are final. Order changes are not permitted.</p>

  <div class="formShell" role="form" aria-label="provide your shipping information">
    <p class="terms" aria-hidden="true">*&nbsp;These fields are required.</p>
    <form action="" method="">
      <div class="formVisible">
        <div class="form-group">
          <label for="">Ship-To Name</label><span aria-hidden="true">*</span>
          <input class="form-control" aria-labelledby="" aria-required="true" name="" readonly="readonly" style="background-color: #EFEFEF;" type="text" value="">
        </div>
        <div class="form-group">
          <label for="">Recipient's Country</label><span aria-hidden="true">*</span>
          <select class="form-control" aria-labelledby="" aria-required="true" name="">
            <option value="">Select a country</option>
            <option value="USA">UNITED STATES</option>
            <option value="AFG">AFGHANISTAN</option>
            <option value="ALB">ALBANIA</option>
            <option value="ALG">ALGERIA</option>
            <option value="AND">ANDORRA</option>
            <option value="ANG">ANGOLA</option>
            <option value="ANU">ANGUILLA</option>
            <option value="ANT">ANTIGUA/BARBUDA</option>
            <option value="ARG">ARGENTINA</option>
            <option value="ARM">ARMENIA</option>
            <option value="ARU">ARUBA</option>
            <option value="ASC">ASCENSION ISLANDS</option>
            <option value="AUS">AUSTRALIA</option>
            <option value="AUT">AUSTRIA</option>
            <option value="AZE">AZERBAIJAN</option>
            <option value="AZO">AZORES</option>
            <option value="BAH">BAHAMAS</option>
            <option value="BAI">BAHRAIN</option>
            <option value="BAL">BALAERIC ISLANDS</option>
            <option value="BAN">BANGLADESH</option>
            <option value="BAR">BARBADOS</option>
            <option value="BES">BELARUS</option>
            <option value="BEL">BELGIUM</option>
            <option value="BEM">BELIZE</option>
            <option value="BEN">BENIN</option>
            <option value="BER">BERMUDA</option>
            <option value="BHU">BHUTAN</option>
            <option value="BOL">BOLIVIA</option>
            <option value="BON">BONAIRE</option>
            <option value="BOS">BOSNIAHERZEGOVINA</option>
            <option value="BOT">BOTSWANA</option>
            <option value="BRA">BRAZIL</option>
            <option value="BRU">BRUNEI</option>
            <option value="BUL">BULGARIA</option>
            <option value="BUK">BURKINA FASO</option>
            <option value="BUU">BURUNDI</option>
            <option value="BYE">BYELORUSSIAN</option>
            <option value="CAB">CAMBODIA</option>
            <option value="CAM">CAMEROON</option>
            <option value="CAN">CANADA</option>
            <option value="CAO">CANARY ISLANDS</option>
            <option value="CAP">CAPE VERDE</option>
            <option value="CAY">CAYMAN ISLANDS</option>
            <option value="CAE">CENTRAL AFRICA</option>
            <option value="CHA">CHAD</option>
            <option value="CHL">CHILE</option>
            <option value="COL">COLOMBIA</option>
            <option value="COM">COMORO ISLANDS</option>
            <option value="CON">CONGO</option>
            <option value="COD">CONGO, DEMO REPUB</option>
            <option value="CKI">COOK ISLANDS</option>
            <option value="COR">CORSICA, FRANCE</option>
            <option value="COS">COSTA RICA</option>
            <option value="CIV">COTE D'IVOIRE</option>
            <option value="CRE">CRETE</option>
            <option value="CRO">CROATIA</option>
            <option value="CUB">CUBA</option>
            <option value="CUR">CURACAO</option>
            <option value="CYP">CYPRUS</option>
            <option value="CZE">CZECH REPUBLIC</option>
            <option value="DEN">DENMARK</option>
            <option value="DJI">DJIBOUTE</option>
            <option value="DOD">DODECANESE</option>
            <option value="DON">DOMINICA</option>
            <option value="DOM">DOMINICAN REP</option>
            <option value="ETM">EAST TIMOR</option>
            <option value="ECU">ECUADOR</option>
            <option value="EGY">EGYPT</option>
            <option value="ELS">EL SALVADOR</option>
            <option value="ENG">ENGLAND, UK</option>
            <option value="EQU">EQUATORIAL GUINEA</option>
            <option value="EST">ESTONIA</option>
            <option value="ETH">ETHIOPIA</option>
            <option value="FAL">FALKLAND ISLANDS</option>
            <option value="FAE">FAROE ISLANDS</option>
            <option value="FIJ">FIJI</option>
            <option value="FIN">FINLAND</option>
            <option value="FRA">FRANCE</option>
            <option value="FRG">FRENCH GUIANA</option>
            <option value="FRP">FRENCH POLYNESIA</option>
            <option value="FWI">FRENCH W INDIES</option>
            <option value="GAB">GABON</option>
            <option value="GAM">GAMBIA</option>
            <option value="GEO">GEORGIA</option>
            <option value="GER">GERMANY</option>
            <option value="GHA">GHANA</option>
            <option value="GIB">GIBRALTAR</option>
            <option value="GIL">GILBERT ISLANDS</option>
            <option value="GRE">GREECE</option>
            <option value="GRL">GREENLAND</option>
            <option value="GRN">GRENADA</option>
            <option value="GUD">GUADELOUPE</option>
            <option value="GUA">GUATEMALA</option>
            <option value="GUR">GUERNSEY</option>
            <option value="GUI">GUINEA</option>
            <option value="GUU">GUINEA-BISSAU</option>
            <option value="GUY">GUYANA</option>
            <option value="HAI">HAITI</option>
            <option value="HND">HONDURAS</option>
            <option value="HON">HONG KONG</option>
            <option value="HUN">HUNGARY</option>
            <option value="ICE">ICELAND</option>
            <option value="IND">INDIA</option>
            <option value="INS">INDONESIA</option>
            <option value="IRA">IRAN</option>
            <option value="IRC">IRAQ</option>
            <option value="IRE">IRELAND</option>
            <option value="ISM">ISLE OF MAN, UK</option>
            <option value="ISR">ISRAEL</option>
            <option value="ITA">ITALY</option>
            <option value="JAM">JAMAICA</option>
            <option value="JPN">JAPAN</option>
            <option value="JER">JERSEY</option>
            <option value="JOR">JORDAN</option>
            <option value="KAM">KAMPUCHEA</option>
            <option value="KAZ">KAZAKHSTAN</option>
            <option value="KEN">KENYA</option>
            <option value="KIR">KIRIBATI</option>
            <option value="KUW">KUWAIT</option>
            <option value="KYR">KYRGYZSTAN</option>
            <option value="LAS">LAOS</option>
            <option value="LAT">LATVIA</option>
            <option value="LEB">LEBANON</option>
            <option value="LES">LESOTHO</option>
            <option value="LIB">LIBERIA</option>
            <option value="LIY">LIBYA</option>
            <option value="LIE">LIECHTENSTEIN</option>
            <option value="LIT">LITHUANIA</option>
            <option value="LUX">LUXEMBOURG</option>
            <option value="MAC">MACAO</option>
            <option value="MAE">MACEDONIA</option>
            <option value="MAD">MADAGASCAR</option>
            <option value="MAI">MALAWI</option>
            <option value="MAL">MALAYSIA</option>
            <option value="MAM">MALDIVES</option>
            <option value="MAN">MALI</option>
            <option value="MAT">MALTA</option>
            <option value="MAR">MARTINIQUE</option>
            <option value="MAU">MAURITANIA</option>
            <option value="MAV">MAURITIUS</option>
            <option value="MEX">MEXICO</option>
            <option value="MIQ">MIQUELON</option>
            <option value="MOL">MOLDOVA</option>
            <option value="MOC">MONACO</option>
            <option value="MON">MONGOLIA</option>
            <option value="MNE">MONTENEGRO</option>
            <option value="MOT">MONTSERRAT</option>
            <option value="MOR">MOROCCO</option>
            <option value="MOZ">MOZAMBIQUE</option>
            <option value="MYA">MYANMAR</option>
            <option value="NAM">NAMIBIA</option>
            <option value="NAU">NAURU</option>
            <option value="NEP">NEPAL</option>
            <option value="NIR">N'ERN IRELAND, UK</option>
            <option value="NEA">NETH ANTILLES</option>
            <option value="NET">NETHERLANDS</option>
            <option value="NEC">NEW CALEDONIA</option>
            <option value="NEW">NEW ZEALAND</option>
            <option value="NIC">NICARAGUA</option>
            <option value="NIE">NIGER</option>
            <option value="NIG">NIGERIA</option>
            <option value="NIU">NIUE</option>
            <option value="NKO">NORTH KOREA</option>
            <option value="NOR">NORWAY</option>
            <option value="OMA">OMAN</option>
            <option value="PAK">PAKISTAN</option>
            <option value="PAN">PANAMA</option>
            <option value="PCZ">PANAMA CANAL, US</option>
            <option value="PAP">PAPUA NEW GUINEA</option>
            <option value="PAR">PARAGUAY</option>
            <option value="PRC">PEOPLES REP CHINA</option>
            <option value="PER">PERU</option>
            <option value="PHI">PHILIPPINES</option>
            <option value="PIT">PITCAIRN ISLAND</option>
            <option value="POL">POLAND</option>
            <option value="POR">PORTUGAL</option>
            <option value="PTI">PORTUGUESE TIMOR</option>
            <option value="QAT">QATAR</option>
            <option value="REU">REUNION</option>
            <option value="ROM">ROMANIA</option>
            <option value="RUS">RUSSIA</option>
            <option value="RWA">RWANDA</option>
            <option value="SAN">SABA</option>
            <option value="SLU">SAINT LUCIA</option>
            <option value="SPN">SAIPAN</option>
            <option value="SMA">SAN MARINO</option>
            <option value="SAO">SAO TOME-PRINCIPE</option>
            <option value="SAU">SAUDI ARABIA</option>
            <option value="SCO">SCOTLAND, UK</option>
            <option value="SEN">SENEGAL</option>
            <option value="SER">SERBIA</option>
            <option value="SEY">SEYCHELLES</option>
            <option value="SIE">SIERRA LEONE</option>
            <option value="SIN">SINGAPORE</option>
            <option value="SLA">SLOVAKIA</option>
            <option value="SLO">SLOVENIA</option>
            <option value="SOL">SOLOMON ISLANDS</option>
            <option value="SOM">SOMALIA</option>
            <option value="SOR">SOUTH AFRICA</option>
            <option value="SKO">SOUTH KOREA</option>
            <option value="SPA">SPAIN</option>
            <option value="SRI">SRI LANKA</option>
            <option value="STC">ST CHRISTOPHER</option>
            <option value="STE">ST EUSTATIUS</option>
            <option value="STH">ST HELENA</option>
            <option value="KNA">ST KITTS &amp; NEVIS</option>
            <option value="SPI">ST PIERRE ISLAND</option>
            <option value="STV">ST VINCENT</option>
            <option value="SUD">SUDAN</option>
            <option value="SUR">SURINAM</option>
            <option value="SWA">SWAZILAND</option>
            <option value="SWE">SWEDEN</option>
            <option value="SWI">SWITZERLAND</option>
            <option value="SYR">SYRIA</option>
            <option value="TAH">TAHITI</option>
            <option value="TAI">TAIWAN</option>
            <option value="TAJ">TAJIKISTAN</option>
            <option value="TAN">TANZANIA</option>
            <option value="THA">THAILAND</option>
            <option value="TOG">TOGO</option>
            <option value="TON">TONGA</option>
            <option value="TRI">TRINIDAD &amp; TOBAGO</option>
            <option value="TRS">TRISTAN DE CUNHA</option>
            <option value="TUN">TUNISIA</option>
            <option value="TUR">TURKEY</option>
            <option value="TUM">TURKMENISTAN</option>
            <option value="TAC">TURKS &amp; CAICOS</option>
            <option value="TUV">TUVALO</option>
            <option value="UGA">UGANDA</option>
            <option value="UKR">UKRAINE</option>
            <option value="UAE">UNITED ARAB EM</option>
            <option value="URN">URUGUAY</option>
            <option value="UZB">UZBEKISTAN</option>
            <option value="VAN">VANUATU</option>
            <option value="VAT">VATICAN CITY</option>
            <option value="VEN">VENEZUELA</option>
            <option value="VIE">VIETNAM</option>
            <option value="BVI">VIRGIN ISLES</option>
            <option value="WAL">WALES, UK</option>
            <option value="WAF">WALLIS &amp; FUTUNA</option>
            <option value="WES">WESTERN SAMOA</option>
            <option value="YEM">YEMEN</option>
            <option value="ZAI">ZAIRE</option>
            <option value="ZAM">ZAMBIA</option>
            <option value="ZIM">ZIMBABWE</option>
          </select>
        </div>
      </div>
      <div class="formHidden">
        <div class="form02">
          <div class="form-group">
            <label for="">Address 1</label><span aria-hidden="true">*</span>
            <input class="form-control" aria-labelledby="" aria-required="true" maxlength="200" name="" type="text" value="">
          </div>
          <div class="form-group">
            <label for="" ,="" id="address2Lbl">Address 2</label>
            <input class="form-control" aria-labelledby="" maxlength="200" name="" type="text" value="">
          </div>
          <div class="form-group">
            <label for="Order_ShippingInformation_City">City</label><span aria-hidden="true">*</span>
            <input class="form-control" aria-labelledby="" aria-required="true" maxlength="100" name="" type="text" value="">
          </div>
          <div class="form-group">
            <!-- SE MUESTRA CUANDO EL PAÍS SELECCIONADO ES DISTINTO A EEUU -->
            <label for="">State/Province</label>
            <input class="form-control" aria-labelledby="" aria-required="true" maxlength="100" name="" type="text" value="">
          </div>
          <div class="form-group">
            <!-- SE MUESTRA CUANDO EL PAÍS SELECCIONADO ES EEUU -->
            <label for="">State/Province</label><span aria-hidden="true">*</span>
            <select class="form-control" aria-labelledby="" aria-required="true" name="">
              <option value="">Select State/Province</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AS">American Samoa</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="GU">Guam</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="PR">Puerto Rico</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VI">Virgin Islands</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="DC">Washington DC</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Postal Code</label><span aria-hidden="true">*</span>
            <input class="form-control" aria-labelledby="" aria-required="true" maxlength="20" name="" type="text" value="">
          </div>
          <div class="form-group">
            <label for="">Telephone Number</label><span aria-hidden="true">*</span>
            <input class="form-control" aria-labelledby="" aria-required="true" maxlength="20" name="" type="text" value="">
          </div>
          <div class="form-group">
            <label for="">Email Address</label><span aria-hidden="true">*</span>
            <input class="form-control" aria-labelledby="" aria-required="true" maxlength="300" name="" type="text" value="">
          </div>
          <div class="form-group">
            <span aria-hidden="true">*</span>
            <label for="">Validate Email Address</label>
            <input class="form-control" aria-labelledby="" aria-required="true" maxlength="300" name="" type="text" value="">
          </div>
        </div>
        <hr>
        <p class="legal" aria-describedby="">Please note: We are unable to deliver to Post Office boxes at this time. Addresses entered are for shipping and email confirmation only and will not constitute a change to your MileagePlus<sup>®</sup> account.</p>
        <input type="submit" class="btn btn-main" value="Continue">
      </div>
    </form>
  </div>
</div>
