<div class="m-product-meta-info_1">
  <h2>Nintendo®</h2>
  <p class="subheader1">Switch™ Gaming System with 3 Games</p>

  <button type="button" class="btn btn-main" value="Select this gift">Select this gift</button>

  <hr>

  <div class="m-product-meta-info_1_terms">
    <h3>Shipping Details</h3>
    <p>Your gift will arrive up to 6 weeks after placing the order.</p>
    <p>Please note: When a selected item is out of stock or discontinued, a similar item may be substituted.</p>
  </div>
</div>
