<div class="m-usermeta-1">
	<div class="wrap">
		<ul>
            <li class="username">Hello, Cleider.Herrera@wunderman.com</li>
            <li class="login">
                <a href="/Home/LogoutConsumer" title="Sign out">Not you?&nbsp;Sign out</a>
            </li>
        </ul>
	</div>
</div>