// COLORS
$main-blue: #0B2141;
$main-yellow: #eeb821;
$black: #000000;
$white: #FFFFFF;

// MEDIA QUERIES
$xs: ( min:  480px );
$sm: ( min:  768px );
$md: ( min:  992px );
$lg: ( min: 1200px );
$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );
$xs-sm: ( max: map-get($sm, min) - 1 );
